body {
    background-image: url("pi-background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
}

#input_div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 80vh;
}

#digit_input {
    width: 49vw;
    margin-top: auto;
    font-size: 200%;
}

#start_calculation {
    margin-top: auto;
    font-size: 200%;
}

#result_div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 80vh;
}

#result_text {
    margin-top: auto;
    font-size: 300%;
}